[Desktop Entry]
Name=Simple Menu
Name[ca]=Menú simple
Name[ca@valencia]=Menú simple
Name[cs]=Jednoduchá nabídka
Name[de]=Einfaches Menü
Name[el]=Απλό μενού
Name[en_GB]=Simple Menu
Name[es]=Menú sencillo
Name[fi]=Yksinkertainen valikko
Name[fr]=Menu « Simple »
Name[gl]=Menú simple
Name[it]=Menu semplice
Name[ko]=간단한 메뉴
Name[lt]=Paprastas meniu
Name[nb]=Enkel meny
Name[nl]=Eenvoudig menu
Name[nn]=Enkel meny
Name[pl]=Proste menu
Name[pt]=Menu Simples
Name[pt_BR]=Menu simples
Name[ru]=Простое меню
Name[sk]=Jednoduchá ponuka
Name[sv]=Enkel meny
Name[uk]=Просте меню
Name[x-test]=xxSimple Menuxx
Name[zh_TW]=簡易選單
Comment=A simple launcher menu
Comment[ca]=Un llançador d'aplicacions simple
Comment[ca@valencia]=Un llançador d'aplicacions simple
Comment[cs]=Jednoduchá nabídka spouštěče
Comment[de]=Ein einfaches Startmenü
Comment[el]=Ένα απλό μενού εκτελεστή
Comment[en_GB]=A simple launcher menu
Comment[es]=Un sencillo menú lanzador
Comment[fi]=Yksinkertainen käynnistysvalikko
Comment[fr]=Un menu de lancement simple
Comment[gl]=Un simple menú iniciador.
Comment[it]=Un semplice menu lanciatore
Comment[ko]=간단한 런처 메뉴
Comment[lt]=Paprastas leistuko meniu
Comment[nb]=Enkel programstarter
Comment[nl]=Een programmastarter met eenvoudig menu
Comment[nn]=Enkel programstartar
Comment[pl]=Proste menu aktywatora
Comment[pt]=Um menu de lançamento simples
Comment[pt_BR]=Um menu lançador simples
Comment[ru]=Простое меню запуска приложений
Comment[sk]=Jednnoduchá ponuka spúšťača
Comment[sv]=En enkel startmeny
Comment[uk]=Просте меню для запуску програм
Comment[x-test]=xxA simple launcher menuxx
Comment[zh_TW]=簡易的啟動器選單

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.simplemenu
X-KDE-PluginInfo-Version=1.0.12
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
